{% extends "_base.html" %}
{% block title %}LISTE GAMES{% endblock %}
{% block body %}
    

<ul>
    {% for game in games %}
    <li>{{ game.name }}</li>
    {% endfor %}
</ul>


{% if games %}
<ul>
    {% for game in games %}
    <li>{{ game.name }}</li>
    {% endfor %}
</ul>
{% else %} Aucun jeux. {% endif %}


{% endblock %}